/* adaptação do site para responsivo */

h1 {
  color: red;
}

/* 2 - Sintaxe, apenas para telas, breakpoint */
@media screen and (max-width: 500px) {
  /* MAX WIDTH = TELAS MENORES QUE ALGUMA RESOLUÇÃO ...ou seja dimensões de 500 para baixo */
  h1 {
    color: blue;
  }
}

/* 3 - Outros modos */
/* all, print, screen, speech */
/*screen = diferentes telas (mobile, desktop..)*/
/*print = quando o usuário imprimir nossa página*/
/*speech = leitores de tela, reconhecimento do que está na tela por voz */

@media print and (max-width: 600px) { /* regra para impressões / lembrando que o Layout da impressão deve estar como "Portrait", se estiver em Landscape não aparecerá nenhuma modificação*/
  h1 {
    color: green;
  }
}

/* 4 - Todos os modos */
@media (max-width: 700px) { /* o ALL é o padrão do media query, por isso não recisamos definir como as outras opções mostradas acima */
  h2 {
    color: purple;
  }
}

/* 5 - Mobile first */
/* desenvolvemos das tela menores para as maiores = MIN-WIDTH > MAX-WIDTH*/
@media (min-width: 200px) {  /* MIN-WIDTH = TELAS MAIORES QUE 200px */
  h2 {
    color: teal;
  }
}

/* 6 - AND na media query */
/* CONDICIONAIS - INTERVALO DE RESOLUÇÕES */
@media (min-width: 300px) and (max-width: 400px) { /* MENOR < PARA O > MAIOR */
  h3 {
    font-size: 3em;
  }
}

/* 7 - Orientation */
/* orientação da nossa tela */
@media (orientation: landscape) {  /* HORIZONTAL = LANDSCAPE*/
  h3 {
    color: brown;
  }
}

/* 8 - OR na media query */
@media (max-width: 200px), (orientation: landscape) {
  h3 {
    font-size: 4em;
  }
}

/* 9 - Cuidado ao aplicar */
/* Regras depois da MQ a sobreescrevem */
@media (min-width: 600px) {
  h4 {
    color: red;
  }
}

h4 {
  color: blue;
}

/* 10 - breakpoints */
h5 {
  font-size: 3em;
}

/* 320px - 480px = mobile */
/* Em mobile first não precisa de MQ */
h5 {
  color: aqua;
}

/* 480px - 768px = tablet */
@media (min-width: 480px) {
  h5 {
    color: burlywood;
  }
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
  h5 {
    color: cadetblue;
  }
}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
  h5 {
    color: coral;
  }
}

/* 1200 e + = telas maiores, tvs */
@media (min-width: 1200px) {
  h5 {
    color: darkorchid;
  }
}
