* {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

h2, h3 {
  font-size: medium;
  margin: 5px;
}

h3{
  text-shadow: 2px 2px 9px rgba(90,224,65,0.13), 2px 2px 9px rgba(90,224,65,0.13), 2px 2px 9px rgba(90,224,65,0.13), 2px 2px 9px rgba(90,224,65,0.13), 2px 2px 9px rgba(90,224,65,0.13), 2px 2px 9px rgba(90,224,65,0.13), 2px 3px 20px rgba(90,168,39,0.97);
}

p, ul {
  border: 1px solid black;
  margin: 5px;
  background-color: #f9eac3;
}

.container {
  display: flex;  /*identificamos que é um container de flexbox*/
  flex-direction: row; /*já é um padrão do flex, mas colocamos para deixar mais claro nosso código*/
  justify-content: center; /*para alinhar nossos elementos no eixo principal (row - horizontal) de forma centralizada*/
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  column-gap: 30px;

  /* indiferente: */
  background-color: #f9eac3;
  padding: 16px;
  height: 500px; /*espaço criado para incluir todos os elementos*/
}

.bloco-1 {
  /* indiferente: */
  background-color: #c6d8f0;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

.bloco-2 {
  /* indiferente: */
  background-color: #d8bfd8;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

.bloco-3 {
  /* indiferente: */
  background-color: #ff9999;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

/* << ESTUDOS >>*/

.container-0 {   /* PADRÃO - ELEMENTO AO CANTO ESQUERDO SUPERIOR EM FORMA VERTICAL*/

 /* meus estudos : */
 background-color: #c3ecf9;
 padding: 16px;
 

}

.bloco-01 { 
  background-color: #eb2121;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%;
}

.bloco-02 {
  background-color: #ddf034;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%;
}

.bloco-03 { 
  background-color: #15f00e;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%;
}

.container-1 {   /* DISPLAY FLEX - ELEMENTO AO CANTO ESQUERDO SUPERIOR EM FORMA HORIZONTAL*/
  background-color: #dbe27b;
  padding: 16px;
  display: flex;  /*MUDA PARA HORIZONTAL*/
  }

    /* FLEX-DIRECTION - ESCOLHEMOS SE NOSSO EIXO PRINCIPAL SERÁ VERTICAL OU HORIZONTAL*/
  
    .container-2 {
      /* FLEX-DIRECTION - ROW */
      /*por padrão acontece que é no eixo row (linha) */
      background-color: #ebb684;
      padding: 16px;
      display: flex;
      flex-direction: row;
    }
  
    .container-3 {
      /* FLEX-DIRECTION - ROW-REVERSE */
      /* a linha será reversa (ao contrário) */
      background-color: #ebb684;
      padding: 16px;
      display: flex;
      flex-direction: row-reverse;
    }
  
    .container-4 {
      /* FLEX-DIRECTION - COLUMN */
      /* também conseguimos deixar como eixo principal o eixo vertical */
      background-color: #ebb684;
      padding: 16px;
      display: flex;
      flex-direction: column;
    }
  
    .container-5 {
      /* FLEX-DIRECTION - COLUMN-REVERSE */
      /* também conseguimos deixar como eixo principal o eixo vertical e apenas mudar o sentido dele*/
      background-color: #ebb684;
      padding: 16px;
      display: flex;
      flex-direction: column-reverse;
    }
  
    /* JUSTIFY-CONTENT ------------------------ */

    .container-6 {  /* FLEX-START */
       /* exemplo utilizando flex-direction: row; */
      /* faz com que todos os elementos de dentro de um container vão para o inicio do nosso eixo horizontal */
      background-color: #ed94f0c5;
      padding: 16px;
      display: flex;
      flex-direction: row; 
      justify-content: flex-start;
    }

    .container-7 {   /* FLEX-END */
      /* exemplo utilizando flex-direction: row; */
     /* faz com que todos os elementos de dentro de um container vão para final do eixo no sentido horizontal */
     background-color: #ed94f0c5;
     padding: 16px;
     display: flex;
     flex-direction: row; 
     justify-content: flex-end;
   }

    .container-8 {   /* CENTER */
      /* exemplo utilizando flex-direction: row; */
    /* faz com que todos os elementos de dentro de um container fiquem centralizados no sentido horizontal */
    background-color: #ed94f0c5;
    padding: 16px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
  }

  .container-9 {   /* SPACE-BETWEEN */
    /* exemplo utilizando flex-direction: row; */
  /* distribui todos os elementos de dentro de um container ao longo do eixo princiopal no sentido horizontal */
  background-color: #ed94f0c5;
  padding: 16px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  }

  .container-10 {   /* SPACE-AROUND */
    /* exemplo utilizando flex-direction: row; */
  /* parece com o between, mas não é, pois também coloca um espaço fora dos elementos (lembra uma margem)*/
  background-color: #ed94f0c5;
  padding: 16px;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  }

   /* ALIGN-ITEMS ------------------------ */

   .container-11 {   /* FLEX-START */
    /* exemplo utilizando flex-direction: row; e justify-content: center;*/
  /* deixa nossos elementos acima do nosso conteiner */
  background-color: #bbd4b5c5;
  padding: 16px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-start;
  height: 100px; 
  }

  .container-12 {   /* FLEX-END */
    /* exemplo utilizando flex-direction: row; e justify-content: center;*/
  /* deixa os elementos ao final do nosso eixo  */
  background-color: #bbd4b5c5;
  padding: 16px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-end;
  height: 100px; 
  }

  .container-13 {   /* CENTER */
    /* exemplo utilizando flex-direction: row; e justify-content: center;*/
  /* deixa os elementos todos centralizados no meio do container  */
  background-color: #bbd4b5c5;
  padding: 16px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  height: 100px; 
  }

  .container-14 {   /* STRETCH */
    /* exemplo utilizando flex-direction: row; e justify-content: center;*/
  /* faz os elementos ocuparem todo o espaço no eixo possível (só não pode ter uma altura já pré definida) */
  background-color: #bbd4b5c5;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: stretch;
  }

  .container-15 {   /* BASELINE */
    /* exemplo utilizando flex-direction: row; e justify-content: center;*/
  /* utilizado quando temos texto, e precisamos usar uma tag. Serve para alinhar todos os elementos com base no conteudo dentro da tag (no nosso caso 1, 2 e 3) */
  background-color: #bbd4b5c5;
  padding: 16px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: baseline;
   }

  
    /* FLEX-WRAP  ------------------------ */

    .container-16 {   /* NOWRAP */
      /* exemplo utilizando orientações anteriores */
    /*  tenta manter todos os elementos em uma linha só mesmo alterando a dimensão da página */
    background-color: #ad957ec5;
    padding: 16px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
     }

     .container-17 {   /* WRAP */
      /* exemplo utilizando orientações anteriores */
    /*  desce os elementos para que não fiquem todos em uma linha só, dessa forma não altera nenhum elemento para que caiba no nosso site*/
    background-color: #ad957ec5;
    padding: 16px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
     }

     .container-18 {   /* WRAP-REVERSE */
      /* exemplo utilizando orientações anteriores */
      /* ao inves o elemento quando chega no final da linha ir para baixo, ele vai para cima */
      background-color: #ad957ec5;
      padding: 16px;
      display: flex;
      flex-direction: row; 
      justify-content: center;
      align-content: center;
      flex-wrap: wrap-reverse;
       }

       /* FLEX-FLOW --------------------------- */

       .container-19 {   /* FLEX-FLOW ( FLEX-DIRECTION + FLEX-WRAP) */
        /* 
        /* a propriedade FLEX-WRAP pode ser declarada junto com FLEX-DIRECTION */
        background-color: #22447091;
        padding: 16px;
        display: flex;      
        justify-content: center;
        align-content: center;      
        flex-flow: row wrap;
         }

   /* ALIGN-CONTENT --------------------------- */

   .container-20 {   /* FLEX-START  */
    /* 
    /* alinha todos os elementos acima do nosso container*/
    background-color: #22447091;
    padding: 16px;
    display: flex;      
    justify-content: center;
    align-content: center;      
    flex-wrap: wrap;
    align-content: flex-start;
    height: 150px; /*espaço dentro do container*/
     }

     .container-21 {   /* FLEX-END  */
      /* 
      /* alinha todos os elementos no final do nosso container/abaixo*/
      background-color: #22447091;
      padding: 16px;
      display: flex;      
      justify-content: center;
      align-content: center;      
      flex-wrap: wrap;
      align-content: flex-end;
      height: 150px; /*espaço dentro do container*/
       }

       .container-22 {   /*  CENTER  */
        /* 
        /* alinha todos os elementos no centro do container */
        background-color: #22447091;
        padding: 16px;
        display: flex;      
        justify-content: center;
        align-content: center;      
        flex-wrap: wrap;
        align-content: center;
        height: 150px; /*espaço dentro do container*/
         }

         .container-23 {   /*  SPACE-BETWEEN  */
          /* 
          /* coloca um espaço entre nossos elementos - se for perpenticular será nas linhas, e o primeiro elemento ficará acima e o último abaixo */
          background-color: #22447091;
          padding: 16px;
          display: flex;      
          justify-content: center;
          align-content: center;      
          flex-wrap: wrap;
          align-content: space-between;
          height: 150px; /*espaço dentro do container*/
           }

           .container-24 {   /*  SPACE-AROUND  */
            /* 
            /* dá uma espaço como se fosse uma margin aos elementos (no nosso exemplo são as linhas) */
            background-color: #22447091;
            padding: 16px;
            display: flex;      
            justify-content: center;
            align-content: center;      
            flex-wrap: wrap;
            align-content: space-around;
            height: 150px; /*espaço dentro do container*/
             }

/* GAP --------------------------- */

.container-25 {   /*  GAP  20px*/
  /* 
  /* coloca um espaçamento entre os elementos no eixo vertical e horizontal  */
  background-color: #f394185b;
  padding: 16px;
  display: flex;      
  justify-content: center;
  align-content: center;      
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
  height: 200px; /*espaço dentro do container*/
   }

   .container-26 {   /*  GAP  70px */
    /* 
    /* coloca um espaçamento entre os elementos no eixo vertical e horizontal  */
    background-color: #f394185b;
    padding: 16px;
    display: flex;      
    justify-content: center;
    align-content: center;      
    flex-wrap: wrap;
    align-content: space-around;
    gap: 70px;
    height: 500px; /*espaço dentro do container*/
     }

     .container-27 {   /*  GAP  10px 30px*/
      /* 
      /* 10px de distancia entre as linhas e 30px de distancia entre as colunas/elementos */
      background-color: #f394185b;
      padding: 16px;
      display: flex;      
      justify-content: center;
      align-content: center;      
      flex-wrap: wrap;
      align-content: space-around;
      gap: 10px 30px;
      height: 200px; /*espaço dentro do container*/
       }

 /* ROW-GAP --------------------------- */

 .container-28 {   /*  ROW-GAP  10px 30px*/
  /* 
  /* literalmente a distancia entre as linhas */
  background-color: #f394185b;
  padding: 16px;
  display: flex;      
  justify-content: center;
  align-content: center;      
  flex-wrap: wrap;
  align-content: space-around;
  row-gap: 10px;
  height: 200px; /*espaço dentro do container*/
   }


  /* COLUMN-GAP   --------------------------- */

  .container-29 {   /*  COLUMN-GAP  30px*/
    /* 
    /* literalmente a distancia entre as colunas */
    background-color: #f394185b;
    padding: 16px;
    display: flex;      
    justify-content: center;
    align-content: center;      
    flex-wrap: wrap;
    align-content: space-around;
    column-gap: 30px;
    height: 200px; /*espaço dentro do container*/
     }