/* Nome dos arquivos CSS deve: 
1 - Letras minúsculas de "a" a "z"
2 - Números de 0 a 9
3 - Sublinhado (underline) "_"
4 - Hífen "-"
5- Sem espaços */



/* ********************          LAYOUT 4  /   px       *******************************************

- MENU NO CABEÇALHO (HEADER)   */

/*ALTERAMOS: 

definimos o ID LOGO  -  "flex: 0 1 200px; + background: #c9c9c9;"
NAV removemos a  - altura fixa de "height: 100px;"  +  alinhamos nossos links à direita - "justify-content: flex-end;"
NAV A - mudamos para  "margin: 3%;"
no calculo da altura da MAIN - "height: calc(100vh - 224px);" e alteramos também na 
MEDIA 923px > "height: calc(100vh - 330px);"

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;  /*VW - total largura horizontal pag.*/ 
}

header, nav, main, aside, footer {
    background: #a1a1a1; 
    display: flex;
    margin: 3px;  
}

header {    
    flex: 1 1 100vw;    
    height: 100px; /*altura fixa para cada elemento*/
}

header #logo {
    flex: 0 1 200px; /* não irá crescer, tendo como padrão 1 e tamanho inicial de 200px */
    background: #c9c9c9;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw;    /*VW - total largura horizontal pag.*/     
    align-items: center;
    justify-content: flex-end; /*alinahmos nossos links a direita */
}

nav a {
    margin: 3%;
    font-size: 20pt;
}

main {   
    flex: 20 1 500px;   /*cresce 20x mais que os outros elementos*/
    height: calc(100vh - 224px); /*no calculo da altura da MAIN */
}

aside {   
    flex: 1 1 200px;    
}

footer {    
    flex: 1 1 100vw; 
    height: 100px; /*altura fixa para cada elemento*/
}


a {   /*LINKS NAV - possuem uma formatação padrão, remoção do sublinhado */
    text-decoration: none;
    color: inherit;
}


/*     **********************************  REGRA @MEDIA  ****************************************************************** */

/* 1 - Largura e altura da janela de visualização
2 - Largura e altura do dispositivo
3 - Orientação ( tablet/ smartphone está no modo paisagem ou retrato)
4 - Resolução */

@media only screen and (max-width: 923px) {  /* verifica se a tela do dispositivo não é maior que 923px, 
    caso positivo as propriedades adicionadas são aplicadas no elemento, não sendo necessário adicionar todas 
    as propriedades definidas anteriormente, apenas as que contem mudanção*/

    main {
        height: calc(100vh - 330px);  /*recebe uma redução */
    }

    aside {
        flex: 1 1 100vw;  /* propriedade flex alterada para ocupar 100% do espaço lateral/vertical*/
        height: 100px; /*altura fixa de 100px*/
    }
}

/*****  BARRA LATERAL MENU  - apartir de > 717px *******/

@media only screen and (max-width: 717px) { 
    #openMenu, #closeMenu {
        display: block;  /* visualização retorna para flesh*/
    }

    #openMenu {
        margin-left: auto; /*espaço horizontal a esquerda será toto o espaço não utilizado pelos elementos contidos em nosso container pai (NAV)*/
    }

    #closeMenu {
        position: fixed; /*posição fixa em relação ao container */
        right: 15px; /*dando uma posição fixa, podemos colocar o icone "X" ao lado direito da tela*/
        top: 15px;
    }

    nav { 
        position: fixed; /*nav fica sobreposto aos demais elementos da pág.*/
        flex-direction: column;
        width: 100vw;
        height: 100vw;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;  /* o que deixa o menu nav invisivel - manipulado com JavaScript*/
    }
}
/* ********************   LAYOUT 5    ******************* */


 